{%extends "app1/master.html"%}
{%block content%}

<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="two-slider">
            <h4>کلیه محصولات</h4>
            <div class="owl-carousel owl-theme ov2">
               {%for item in k%}
               
               <div class="item">
                  <figure>
                     <a href="/showproduct/{{item.id}}"><img src="{{item.img.url}}" class="w-100" /></a>
                  </figure>
                  <h5><a href="/showproduct/{{item.id}}">{{item.title}}</a></h5>
                  <span>{{item.price}} تومان</span>
               </div>
               {%endfor%}
               
               




               
               
            </div>
         </div>
      </div>
   </div>
</div>

{%endblock%}
