{% extends "app1/adminmaster.html"%}
{%block content%}
<br><br>
<div class="container">
    <form method="post">
    {%csrf_token%}
<table>
    <tr>
        <td>نام کاربری</td>
        <td><input type="text" name="username"></td>
    </tr>
    <tr>
        <td>کلمه عبور</td>
        <td><input type="password" name= "password"></td>
    </tr>
    <tr>
        <td></td>
        <td> <input type="submit" value="ورود"></td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="/register/">ثبت نام جدید</a>
        </td>
    </tr>
</table>
</div>
</form>
<br><br><br><br><br><br><br><br>





{%endblock%}